{:paths ["src" "test"]
 :deps {com.datomic/client-pro {:mvn/version "0.9.63"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        expound {:mvn/version "0.8.5"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        gnl/ghostwheel {:mvn/version "0.3.9"}
        org.clojure/tools.trace {:mvn/version "0.7.10"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}
                               lambdaisland/kaocha {:mvn/version "1.0.641"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}}
                  :jvm-opts ["-Dghostwheel.enabled=true"]
                  :main-opts ["-m" "kaocha.runner"]}

           :ancient {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                     :main-opts ["-m" "depot.outdated.main"]}

           :clj-kondo
           {:extra-deps {com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}
                         clj-kondo {:mvn/version "RELEASE"}}
            :main-opts ["-m" "clj-kondo.main"]}

           :uberjar
           {:extra-deps {com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}
                         luchiniatwork/cambada {:mvn/version "1.0.2"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "dialog.discussion.core"]}

           :repl {:jvm-opts ["-Dghostwheel.enabled=true"]
                  :extra-deps {com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}}}}}
